<div class="column-container" #columnContainer>
  <h3 class="column-title">{{ appColumn.title }}</h3>
  <div
    class="column-column"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="appColumn.stories"
  >
    <app-story
      class="column-story"
      *ngFor="let story of appColumn.stories"
      [appStory]="story"
      [appStoryColumnId]="appColumn._id"
      cdkDrag
    ></app-story>
    <div class="column-dudStory"></div>
  </div>
  <app-story-create
    class="column-storyCreate"
    [appStoryCreateColumnId]="appColumn._id"
    [appStoryCreateBoardId]="appColumnBoardId"
  ></app-story-create>
</div>
