@mixin button-sm {
  @include button-reset;
  background-color: $blue-500;
  color: white;
  font-size: $text-sm;
  font-weight: bold;
  padding: $spacing-1 $spacing-4;
  border-radius: $br-small;
}

@mixin text-input {
  border: none;
  width: 100%;
  color: $gray-800;
  font-size: $text-sm;
  padding: $spacing-1 $spacing-2;
  border-radius: $br-small;

  &::placeholder {
    color: $gray-500;
  }
}

@mixin button-default($textColor, $bgColor) {
  cursor: pointer;
  border: none;
  padding: $spacing-2 $spacing-4;
  font-size: $text-lg;
  background-color: $bgColor;
  color: $textColor;
  border-radius: $br-small;
  display: block;
}

.app-icon--med {
  height: 25px;
  width: 25px;
}

@mixin modal-header {
  font-size: $text-lg;
  letter-spacing: 2px;
  font-weight: 500;
  padding-bottom: $spacing-2;
  border-bottom: 2px solid $gray-200;
  margin-bottom: $spacing-4;
}
