@import "src/assets/styles/themes.scss";

.columnCreate {
  &-container {
    padding: $spacing-2;
    background-color: $gray-100;
    border-radius: $br-small;
    box-shadow: 0px 2px 8px $gray-400;
    width: 300px;
  }

  &-header {
    color: $gray-800;
    margin-bottom: $spacing-2;
  }

  &-form {
    @include flex;
  }

  &-title {
    @include text-input;
    flex-grow: 100%;
    border: 1px solid $blue-500;
  }

  &-submit {
    @include button-sm;
  }
}
