@import "src/assets/styles/themes.scss";

.header {
  &-container {
    width: 100vw;
    background: linear-gradient(to right, $blue-500, $teal-500);
    padding: $spacing-2;
    box-shadow: 0px 2px 8px $gray-400;
    overflow-x: hidden;
  }

  &-boardTitle {
    color: $white;
  }
}
