@import "src/assets/styles/themes.scss";

.board {
  &-container {
    padding: $spacing-4;
    height: calc(100vh - 54px);
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &-columnsContainer {
    @include flex;
    height: 100%;
  }

  &-column {
    @include space-by(right, $spacing-4);
    display: block;
  }
}
