<div *ngIf="boardModel" class="board-container">
  <app-board-header
    [appBoardHeaderTitle]="boardModel.data.title"
  ></app-board-header>
  <div class="board-board">
    <div class="board-columnsContainer" cdkDropListGroup>
      <app-column
        *ngFor="let column of boardModel.data.columns"
        class="board-column"
        [appColumn]="column"
        [appColumnBoardId]="boardModel.data._id"
        (appColumnOnDrop)="boardModel.update()"
      ></app-column>
      <app-column-create
        class="board-column"
        (appColumnCreateOnCreate)="addColumn($event)"
      >
      </app-column-create>
    </div>
  </div>
</div>
