@import "src/assets/styles/themes.scss";

.board {
  &-container {
    padding: $spacing-4;
    overflow-x: scroll;
  }

  &-columnsContainer {
    @include flex;
  }

  &-column {
    @include space-by(right, $spacing-4);
    display: block;
  }
}
