@import "src/assets/styles/themes.scss";

@mixin section-header {
  color: $gray-500;
  margin-bottom: $spacing-1;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: $text-sm;
  font-weight: 500;
}

@mixin textbox-auto-margin {
  margin-left: -$spacing-2;
}

:host {
  display: block;
}
.editStoryModal {
  &-container {
    max-width: 768px;
    min-height: 600px;
    width: 70vw;
    position: relative;
  }

  &-titleHeader {
    @include section-header;
  }

  &-title {
    @include textbox-auto-margin;
    font-weight: 500;
    font-size: $text-lg;
    margin-bottom: $spacing-3;
  }

  &-description {
    @include textbox-auto-margin;
  }

  &-descriptionHeader {
    @include section-header;
  }

  &-tagsHeader {
    @include section-header;
  }

  &-delete {
    @include button-reset;
    @include button-default($red-600, $red-200);
    position: absolute;
    bottom: 0;
    right: 0;

    @include hover(0) {
      background-color: $red-300;
      color: $red-700;
    }
  }

  &-tags {
    padding-top: $spacing-2;
    display: block;
  }

  &-section {
    margin-bottom: $spacing-4;
  }

  &-tagModalButton {
    @include button-reset;
    @include button-default($blue-600, $blue-200);
  }

  &-storyNumber {
    display: block;
    background-color: $gray-200;
    font-size: $text-xs;
    color: $gray-500;
    font-size: $text-base;
    padding: $spacing-2 $spacing-4;
    border-radius: $br-small;

    position: absolute;
    bottom: 0;
    left: 0;
  }
}
