<div class="editStoryModal-container" *ngIf="storyFormContainer">
  <form [formGroup]="storyFormContainer.form">
    <div class="editStoryModal-section">
      <h3 class="editStoryModal-titleHeader">Title</h3>
      <app-form-input-textarea
        class="editStoryModal-titleField"
        [fieldConfig]="storyFormContainer.fields.title"
      ></app-form-input-textarea>
    </div>
    <div class="editStoryModal-section">
      <h3 class="editStoryModal-descriptionHeader">Description</h3>
      <app-form-input-textarea
        class="editStoryModal-descriptionField"
        [fieldConfig]="storyFormContainer.fields.description"
      ></app-form-input-textarea>
    </div>
  </form>
  <div class="editStoryModal-section">
    <h3 class="editStoryModal-tagsHeader">Tags</h3>
    <app-tags
      class="editStoryModal-tags"
      [appTags]="storyModel.data.tags"
      (appTagsSelectedTag)="addTagToStory($event)"
      (appTagsDeletedTag)="removeTag($event)"
    ></app-tags>
  </div>

  <div class="editstoryModal-section">
    <h3 class="editStoryModal-commitsHeader">Commits</h3>
    <app-github-commits
      class="editStoryModal-commits"
      [appGithubCommitsCommit]="storyModel.data.commit"
      (appGithubCommitsSelect)="addCommitToStory($event)"
    ></app-github-commits>
  </div>
  <p class="editStoryModal-storyNumber">#{{ storyModel.data.storyNumber }}</p>
  <button class="editStoryModal-delete" (click)="deleteStory()">Delete</button>
</div>
