@import "src/assets/styles/themes.scss";

@mixin section-header {
  color: $gray-500;
  margin-bottom: $spacing-1;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: $text-sm;
  font-weight: 500;
}

@mixin textbox-auto-margin {
  margin-left: -$spacing-2;
}

:host {
  display: block;
}
.editStoryModal {
  &-container {
    max-width: 768px;
    min-height: 600px;
    width: 70vw;
  }

  &-titleHeader {
    @include section-header;
  }

  &-title {
    @include textbox-auto-margin;
    font-weight: 500;
    font-size: $text-lg;
    margin-bottom: $spacing-3;
  }

  &-description {
    @include textbox-auto-margin;
  }

  &-descriptionHeader {
    @include section-header;
  }

  &-delete {
    @include button-reset;
    padding: $spacing-3 $spacing-5;
    font-size: $text-lg;
    background-color: $red-200;
    color: $red-600;
    font-weight: $bold;
    border-radius: $br-small;

    @include hover(0) {
      background-color: $red-300;
      color: $red-700;
    }
  }
}
