<button class="story-container" (click)="openStoryModal()">
  <div class="story-tags">
    <div
      class="story-tag"
      *ngFor="let tag of appStory.tags"
      [ngStyle]="{ 'background-color': tag.color }"
    >
      {{ tag.label }}
    </div>
  </div>
  <h2 class="story-title">{{ appStory.title }}</h2>
  <div class="story-footer">
    <span class="story-storyNumber">#{{ appStory.storyNumber }}</span>
    <span class="story-commit" *ngIf="appStory.commit">
      <app-icon class="story-commitIcon" appIcon="git-commit"></app-icon>
      <span class="story-commitMessage">{{ appStory.commit.id }}</span>
    </span>
  </div>
</button>
