@import "src/assets/styles/themes.scss";

.story {
  &-container {
    @include button-reset;
    width: 100%;
    background-color: $gray-200;
    padding: $spacing-2;
    border-radius: $br-small;

    @include hover(0) {
      background-color: $blue-100;
    }
  }

  &-title {
    font-size: $text-base;
    font-weight: 400;
    color: $gray-800;
    text-align: left;
  }

  &-storyNumber {
    display: block;
    background-color: $gray-300;
    color: $gray-500;
    font-size: $text-xs;
    padding: $spacing-1 $spacing-2;
    border-radius: $br-small;
  }

  &-tags {
    @include flex;
    flex-wrap: wrap;
    margin-bottom: $spacing-1;
  }

  &-tag {
    font-size: 12px;
    padding: 3px $spacing-2;
    color: white;
    border-radius: $br-small;
    font-weight: 600;

    @include space(right, $spacing-1);
  }

  &-footer {
    @include flex;
    margin-top: $spacing-2;

    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }

  &-commit {
    @include flex;
    background-color: $blue-100;
    color: $blue-500;
    font-size: $text-xs;
    padding: $spacing-1 $spacing-2;
    border-radius: $br-small;
  }

  &-commitIcon {
    height: 15px;
    width: 15px;
    margin-right: $spacing-1;
  }

  &-commitMessage {
  }
}
