@import "src/assets/styles/themes.scss";

.boardsList {
  &-container {
    padding: $spacing-3;
    @include flex(column);
  }

  &-board {
    @include button-reset;
    @include button-default($blue-700, $blue-100);
    width: 300px;
    text-align: left;
  }

  &-delete {
    @include button-reset;
    @include button-default($red-600, $red-200);
    margin-left: $spacing-2;
  }

  &-boardRow {
    @include flex;
    @include space-by(down, $spacing-2);
  }

  &-title {
    margin-bottom: $spacing-3;
  }
}
