@import "src/assets/styles/themes.scss";

.formInputTextarea {
  &-label {
  }

  &-textarea {
    font-weight: inherit;
    font-size: inherit;
    height: auto;
    width: 100%;
    border: none;
    resize: none;
    padding: $spacing-2;

    &:focus {
      outline: 2px solid $blue-500;
    }
  }
}
