@import "src/assets/styles/themes.scss";

.githubCommitsModal {
  &-container {
    width: 350px;
  }

  &-content {
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
  }

  &-selectedRepos {
    position: sticky;
    top: 0;
    background-color: $white;
    padding-bottom: $spacing-3;
  }

  &-header {
    @include modal-header;
  }

  &-commit {
    @include button-default($gray-700, $gray-200);
    font-size: $text-base;
    margin-bottom: $spacing-2;
    text-align: left;
    width: 100%;
  }

  &-selectedRepo {
    @include button-default($green-700, $green-200);
    width: 100%;
    @include space(down, $spacing-2);
  }
}
