@import "src/assets/styles/themes.scss";

.addStoryTags {
  &-tags {
    @include flex;
    margin-top: $spacing-3;
    border-radius: $br-small;
    background-color: $gray-200;
    padding: $spacing-1;
    flex-wrap: wrap;
  }

  &-tag {
    @include button-reset;
    color: white;
    padding: $spacing-2 $spacing-4;
    border-radius: $br-small;
    margin: $spacing-1;
  }
}
